<div>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand">Personal Movie Ranking</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li><a href="#/">My Profile</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="col-md-6 col-md-offset-3">
		<h2 align="center">Top Ranking Movies</h2>
		<p align="center">Total number of Movies: {{moviesctrl.movieslist.length}}</p>
		<br>
		<br>
	</div>
	<div id="ranking_movie_table_div" class="col-md-6 col-md-offset-3">
		<table class="table table-striped table-hover table-bordered table-responsive">
			<thead>
				<tr>
					<th>Position</th>
					<th>Title</th>
					<th>Year</th>
					<th>Number Users Who Voted</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="movie in moviesctrl.movieslist">
					<td>{{$index+1}}</td>
					<td>{{movie.title}}</td>
					<td>{{movie.year}}</td>
					<td>{{movie.number_of_users_who_voted}}</td>
					<td><button type="button" class="btn btn-default" data-toggle="modal" ng-click="moviesctrl.getMovie(movie.id)" data-target="#myModal">Details</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="myModal" class="modal fade" role="dialog" ng-show="moviesctrl.has_movie_details">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">{{moviesctrl.getted_movie.title}}</h4>
	      </div>
	      <div class="modal-body">
			<h4 align="justify">Title: {{moviesctrl.getted_movie.title}}</h4>
			<h4 align="justify">Year: {{moviesctrl.getted_movie.year}}</h4>
			<h4 align="justify">Number Users Who Voted: {{moviesctrl.getted_movie.number_of_users_who_voted}}</h4>
			<h4 align="justify">List of Users who voted in this movie:</h4>
			<table class="table table-striped table-hover table-bordered table-responsive">
				<tbody>
					<tr ng-repeat="user in moviesctrl.getted_movie.users_who_voted">
						<td>{{user.username}}</td>
					</tr>	
				</tbody>
			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
</div>